services:
  ollama:
    profiles: ["ollama"]
    build:
      context: .
      dockerfile: Dockerfile.ollama
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  chatbot-service:
    profiles: ["chatbot"]
    build: ./chatbot-service
    container_name: chatbot-service
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - ./config/.env
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    volumes:
      - vector_db:/app/vector_db
      - pdf_storage:/app/pdf_storage
  
  chatbot-app:
    profiles: ["chatapp"]
    build: ./chatbot-app  # Path to the React Native Dockerfile
    container_name: chatbot-app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./config/.env  # Load shared env file
    depends_on:
      - chatbot-service  # Ensure FastAPI service starts before frontend

volumes:
  ollama_data:
  vector_db:
  pdf_storage: